In [ ]:
#this is a comment
#anonther comment
this_is_a_variable = "Good morning WoTech!" #we assign a text value to this variable
print (this_is_a_variable)

#lets us now assing a number
data = 14
print (data)

Good morning WoTech!
14

In [ ]:
name = "Anna" #text/string
surname = "Johnson" #text/string
age = 35 #integer
occupation = "Programmer" #text/string
university_graduate = False #boolean
height = 172.23 #float

print (name, surname, age, occupation, university_graduate, height)
print(f"Full name: {name} {surname}\nOccupation: {occupation}\nUni degree: {university_graduate}")

Anna Johnson 35 Programmer False 172.23
Full name: Anna Johnson
Occupation: Programmer
Uni degree: False

In [ ]:
#we are preparing for a party
guest1 = "Anna"
guest2 = "John"
guest3 = "Jeniffer"

print (guest1, guest2, guest3)

guests = ["John", "Anna", "Jeniffer"]
print (guests)

Anna John Jeniffer
['John', 'Anna', 'Jeniffer']

In [ ]:
name = "trees "*10

print (name, end = "")

trees trees trees trees trees trees trees trees trees trees

In [ ]:
name = input ("Enter your name: ")

print(f'Hello {name}, nice to meet you!') #f-string

Enter your name: anna
Hello anna, nice to meet you!

In [ ]:
name = input ("Enter your name: ")
print (f'Hello ', name, 'nice to meet you!') #not f-string

Enter your name: anna
Hello  anna nice to meet you!

In [ ]:
name = input ("Enter your name: ")
print(f'Hello {name}, I would like to read the book, "Hamlet"') #f-string

Hello anna, I would like to read the book, "Hamlet"

In [ ]:
name = 'Anna'
surname = 'Johnsons'

print ('Hello', name, '!')
print (f'Hello {name}!') #without spase

Hello Anna !
Hello Anna!

In [ ]:
name = 'Anna'
surname = 'Johnsons'

print ('Hello', name, '!')
print (f' {name} wants to read "Hamlet".') #without spase and change Name in all the text

Hello Anna !
 Anna wants to read "Hamlet".

In [ ]:
users_name = input ("Enter your name: ")
print(f'Hello, {users_name}!')

acc_holders_name = 'Alice'
surname = 'Smith'
age = 25
bank_account = 123456789
print ('ACCOUNT HOLDER DISCRIPTION: ' '\n' f'Account number: {bank_account}' '\n' f'Holders name: {acc_holders_name} {surname}' '\n' f'Age: {age}')
#print (f'Account number: {bank_account}')

married = False
print (f"Married: {married}")

place_of_birth = 'Riga, Latvia'
print (f"Place of birth: {place_of_birth}")

acc_opening_date = 2023
month = 'october'
salary = 1000.5
salary_for_period = salary * 6
print (f"Date of activation: {month}, {acc_opening_date}")
print (f"Salary (per month): {salary}"'\n'f"Availalbe amount: {salary_for_period}")

Enter your name: TTTTT
Hello, TTTTT!
ACCOUNT HOLDER DISCRIPTION:
Account number: 123456789
Holders name: Alice Smith
Age: 25
Married: False
Place of birth: Riga, Latvia
Date of activation: october, 2023
Salary (per month): 1000.5
Availalbe amount: 6003.0