FOR LOOPS

In [ ]:
for letter in "I LOVE PYTHON": #string iterable object
  print(letter, end = '') # \n new line character

I LOVE PYTHON

###FOR LOOP LIST

In [ ]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

In [ ]:
for city in cities_i_have_been_to:
  print(f'I have been to {city}')

I have been to Tallin
I have been to Riga
I have been to Tartu
I have been to Aluksne
I have been to Viru
I have been to Ventspils

In [ ]:
counter = 0 #initialize the counter
for city in cities_i_have_been_to:
  counter = counter + 1
  print(f'{counter}. I have been to {city}')

1. I have been to Tallin
2. I have been to Riga
3. I have been to Tartu
4. I have been to Aluksne
5. I have been to Viru
6. I have been to Ventspils

In [ ]:
#Add previous city in the ForLoop
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 0 #initialize the counter
previous_city = None

for city in cities_i_have_been_to:
   counter = counter + 1
   if previous_city == None:
    print(f'{counter}. I have been to {city}.')
   else:
    print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
   previous_city = city

1. I have been to Tallin.
2. I have been to Riga. The previous city I visited was Tallin.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

###FOR loops with indexes

In [ ]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

In [ ]:
range(len(cities_i_have_been_to)) #list of elements
list(range(len(cities_i_have_been_to)))

[0, 1, 2, 3, 4, 5]

In [ ]:
range(len(cities_i_have_been_to)) #elements [0,1,2,3,4,5,]
for i in range(len(cities_i_have_been_to)):
  print(cities_i_have_been_to[i])
  print(which_year_I_visited[i])
  print(f'This is the index {i}')

In [ ]:
range(len(cities_i_have_been_to)) #elements [0,1,2,3,4,5,]
for i in range(len(cities_i_have_been_to)):
  print(f'I have been to {cities_i_have_been_to[i]}. I visited that city in {which_year_I_visited[i]}')

### Nested Lists

In [ ]:
matrix_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [ ]:
for i in matrix_2d:
  print(f'This is the sub-list: {i}')
  for j in i:
    print(f'These are the elements of the sub-list {j}')

In [ ]:
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']] #nested list

grade_mapping[0] #[90, 'A']
grade_mapping[0][1] #'A'
grade_mapping[3][1] #'D'

'D'

In [ ]:
for threshold, letter_grade in grade_mapping:
  print(letter_grade)

In [ ]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
student_scores = [85, 72, 93, 60, 77]
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]

In [ ]:
range(len(student_scores)) #a for loop with range and print out student score
for i in range(len(student_scores)):
  print(student_scores[i])
  print(student_names[i])
  score = student_scores[1] #this is the score of each student separately

  for number_grade, letter_grade in grade_mapping:

    if score>=number_grade:
      print(f'Hi, {student_names[i]}, your letter grade is {letter_grade}')
      break

In [ ]:
# an enumerate function
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

for index, student in enumerate(student_names, start=1):
  print(f'Student {index}: {student}')

Student 1: Alice
Student 2: Bob
Student 3: Charlie
Student 4: David
Student 5: Eva