In [ ]:
users_name = input ("Enter your name: ")
print(f'Hello, {users_name}!')

acc_holders_name = 'Alice'
surname = 'Smith'
age = 25
bank_account = 123456789
print ('ACCOUNT HOLDER DISCRIPTION: ' '\n' f'Account number: {bank_account}' '\n' f'Holders name: {acc_holders_name} {surname}' '\n' f'Age: {age}')
#print (f'Account number: {bank_account}')

married = False
print (f"Married: {married}")

place_of_birth = 'Riga, Latvia'
print (f"Place of birth: {place_of_birth}")

acc_opening_date = 2023
month = 'october'
salary = 1000.5
salary_for_period = salary * 6
print (f"Date of activation: {month}, {acc_opening_date}")
print (f"Salary (per month): {salary}"'\n'f"Availalbe amount: {salary_for_period}")

Enter your name: DDD
Hello, DDD!
ACCOUNT HOLDER DISCRIPTION:
Account number: 123456789
Holders name: Alice Smith
Age: 25
Married: False
Place of birth: Riga, Latvia
Date of activation: october, 2023
Salary (per month): 1000.5
Availalbe amount: 6003.0

In [ ]:
# Prompt the user to enter the length and the height of the triangle in miles
base_miles = float(input('Enter the length of the base of the triangle (in miles): '))
height_miles = float(input('Enter the height of the triangle (in miles): '))

# Convert miles to kilometers (1 mile = 1.60934 kilometers)
base_km = base_miles * 1.60934
height_km = height_miles * 1.60934

# Calculate the area of the triangle (Area = 0.5 * base * height)
area_sq_km = round(0.5 * base_km * height_km, 2)

# Display the result
print("Area of the triangle:", area_sq_km, "square kilometers")

Enter the length of the base of the triangle (in miles): 43
Enter the height of the triangle (in miles): 6.7
Area of the triangle: 373.09 square kilometers

In [ ]:

# Prompt the user to enter weight in kilograms
weight_kg = float(input('Enter your weight in kilograms: '))

# Prompt the user to enter height in meters
height_m = float(input('Enter your height in meters: '))

# Calculate BMI
bmi = round(weight_kg / (height_m ** 2), 2)

# Display the BMI
print(f'Your BMI is: {bmi}')

In [ ]:
# Prompt the user to enter the length and the height of the triangle in miles
base_miles = float(input('Enter the length of the base of the triangle (in miles): '))
height_miles = float(input('Enter the height of the triangle (in miles): '))

# Convert miles to kilometers (1 mile = 1.60934 kilometers)
base_km = base_miles * 1.60934
height_km = height_miles * 1.60934

# Calculate the area of the triangle (Area = 0.5 * base * height)
area_sq_km = round(0.5 * base_km * height_km, 2)

# Display the result
print("Area of the triangle:", area_sq_km, "square kilometers")

In [ ]:
pounds = input("Enter the weight in pounds: ")

pounds_float = float(pounds)
CONVERSION_FACTOR = 0.453592 # constant variable

kilograms = round(pounds_float * CONVERSION_FACTOR, 3)

print(f'Weight in pounds: {pounds} lb, Weight in Kilograms: {kilograms} kg')