In [ ]:
fruits = ["apple", "orange", "kiwi", "banana", "grape"]

user_input = input("Enter a fruit: ")

# check if input exists in list

if user_input in fruits:
  print("Yes, it is in the list.")
else:
  print("Yes, it is in the list.")

Enter a fruit: orange
Yes, it is in the list.

In [ ]:
numbers = [1, 20, 35, 400, 5]

user_input = int(input("Enter a number: ")) #input converted to int

if user_input in numbers:
  if user_input % 2 == 0: #modulus shows if the number can be divided by 2
    print("is even")
  else:
    print("is odd")
else:
  print("this number is not in the list")

Enter a number: 20
is even

List method

In [ ]:
items = ['apple', 'kiwi', 'orange']
print(f'original items {items}')

my_value = 'banana'
items.append(my_value) #shows changed items
print(f'changed items {items}')

original items ['apple', 'kiwi', 'orange']
changed items ['apple', 'kiwi', 'orange', 'banana']

In [ ]:
#COPY

original_list = [1, 20, 35, 400, 5]
copied_list = original_list.copy()

original_list.append(6)

print(original_list)
print(copied_list)

[1, 20, 35, 400, 5, 6]
[1, 20, 35, 400, 5]

In [ ]:
#COUNT
numbers = [1,2,7,6,5,5,5,5]

target_number =5
count = numbers.count(target_number)
print(f'The number {target_number} appears {count} times in the list')

The number 5 appears 4 times in the list

In [ ]:
#index method

fruits = ['apple', 'banana', 'orange']
fruits_index = fruits.index('banana')

print(f'Index of banana" is: {fruits_index}')

Index of banana" is: 1

In [ ]:
#INSERT 10 to the list

numbers = [1,2,3,4,5]
numbers.insert(2, 10)

print(numbers)

[1, 2, 10, 3, 4, 5]

In [ ]:
#POP removes 10 from the list

numbers.pop(2)
print(numbers)

#numbers = [1, 2, 10, 3, 4, 5]
#popped_element = numbers.pop(2)
#print(popped_element)
#print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# SORT (sort in a different order, reverse = true/false)

numbers = [1, 7, 2, 10, 3, 4, 5]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 7, 10]

In [ ]:
# Create a list of 5 number elements
numbers = [1, 6, 13, 2, 5]

# # Calculate maximum value of the numbers
max_value = max(numbers)
print(f"The maximum value in the list is: {max_value}")

# Calculate minimum value of the numbers
min_value = min(numbers)
print(f"The minimum value in the list is: {min_value}")

# Calculate average value of numbers
average_value = sum(numbers) / len(numbers)
print(f"The average value in the list is: {average_value}")

# Check if the average value of the list if higher than 3 If the average is greater than 3, print "Average is greater than 3", otherwise print "Average is not greater than 3".
if average_value > 3:
  print("The average value of numbers in the list is higher than 3")
else:
  print("The average value of numbers on the list is lower than 3")

# Sort the list

numbers.sort()

# Remove first number of the list

numbers.pop(0)

# Add your name to the list
numbers.append("Elina")

# Calculate at what index is your name
numbers.index("Elina")

The maximum value in the list is: 13
The minimum value in the list is: 1
The average value in the list is: 5.4
The average value of numbers in the list is higher than 3

4

In [ ]:
#Range function (start, stop, step)

list(range(7))

numbers_with_range = range(1, 7) #iterable object [1,2,3,4,5,6,]

for number in numbers_with_range:
  print(number)

1
2
3
4
5
6

In [ ]:
numbers_with_range = range(1, 7) #iterable object [1,2,3,4,5,6,]

for number in numbers_with_range:
  number = number*2
  print(number)

2
4
6
8
10
12

In [ ]:
list(range(10, 100, 10)) #the last element is not included

[10, 20, 30, 40, 50, 60, 70, 80, 90]